body,
.form-control {
    background-color: #111;
    border-color: #222222;
}

label,
th,
h1, h3, p{
    color: #ddd;
}

.alert-danger {
    color: #f3a8a8;
    background-color: #ff00003d;
    border-color: #ff000032;
}

.alert-success {
    color: #83f8a8;
    background-color: #00ff003d;
    border-color: #00ff0032;
}